@media screen and (max-width:375px) {
    body {
        background-color: #674BB1;
        margin: 0px;

    }

    .bg {
        width: 90%;
        height: 40%;
        margin-bottom: 0px;
        margin-left: 0px;
        position: fixed;
        z-index: -1;
    }

    img {
        width: 280px;
        height: 230px;
        margin-left: 20px;
    }

    h2 {
        margin: 0px;
        padding-left: 50px;
        padding-top: 25px;
        padding-bottom: 65px;

    }

    h3 {}

    p {}
}